<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RateController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.119.0" newVersion="1.0.119.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RateController.Properties.Settings>
      <setting name="CurrentFile" serializeAs="String">
        <value>Default.rcs</value>
      </setting>
      <setting name="CurrentLanguage" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="MainBackColour" serializeAs="String">
        <value>210, 220, 230</value>
      </setting>
      <setting name="DisplayBackColour" serializeAs="String">
        <value>210, 220, 230</value>
      </setting>
      <setting name="CurrentJob" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DisplayForeColour" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="MainForeColour" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="MenuFontSmall" serializeAs="String">
        <value>Microsoft Sans Serif, 14.25pt</value>
      </setting>
      <setting name="MouseDown" serializeAs="String">
        <value>DarkSlateBlue</value>
      </setting>
      <setting name="DisplayForeColourUser" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="DisplayBackColourUser" serializeAs="String">
        <value>210, 220, 230</value>
      </setting>
      <setting name="LastFolder" serializeAs="String">
        <value />
      </setting>
    </RateController.Properties.Settings>
  </userSettings>
</configuration>