<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BetterWin32Errors" version="0.2.0" targetFramework="net472" />
  <package id="lunOptics.libTeensySharp" version="1.0.1" targetFramework="net472" />
  <package id="lunOptics.libUsbTree" version="1.0.1" targetFramework="net472" />
  <package id="morelinq" version="3.3.2" targetFramework="net472" />
  <package id="SerialPortStream" version="2.3.1" targetFramework="net472" />
  <package id="System.IO.Ports" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>