name: Build
on:
  push:
    branches:
      - master
      - UI_update
  pull_request:
    types: [opened, synchronize, reopened]
    
env:
  SOLUTION_FILE_PATH: ./RateAppSource/RateController.sln
  BUILD_CONFIGURATION: Release
    
jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Restore NuGet packages
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: nuget restore ${{env.SOLUTION_FILE_PATH}}
        
      - name: Build
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}
